.content {
  /* factor in additional padding for fixed header */
  padding: 150px 100px;
}

.content .store-container {
  display: flex;
  flex-direction: row;
}

.content .store-container .store-column {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content .range-card-container {
  display: flex;
}

.content .range-card-container > * {
  margin-right: 5em;
}

.content .range-card-container > *:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  /* Swap to vertical layout */
  .content .store-container {
    flex-direction: column;
  }

  .content .store-container .store-column {
    margin-bottom: 32px;
  }
}
