.icon-button {
  background: transparent;
  border: none;
  padding: 5px;
  /* add cursor pointer for intended interactive points in UI */
  cursor: pointer;
}

.icon-button i {
  color: var(--color-white);
}
